* {
  margin: 0;
  padding: 0;
}

.display {
  display: flex;
}

#logo {
  color: white;
  text-align: center;
  font-size: 48px;
  text-decoration: underline;
  letter-spacing: -0.11em;
}

#navigation {
  background-color: rgba(0, 0, 0, 0.65);
  width: 15%;
  height: 982px;
  left: 0px;
  top: 0px;
}

#postdisplay {
  padding: 16px 32px;
  margin-left: 1%;
  width: 60%;
}

#posts {
  background-color: rgba(0, 0, 0, 0.15);
}

#users {
  color: white;
}
